<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>Java web MVC project</display-name>

  <!-- Define servlets -->
  <servlet>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>mg.krishna.controllers.HelloController</servlet-class>
  </servlet>

  <!-- Mapping servlets -->
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- For static assets serving -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>
</web-app>
